.openinghours {
    margin-left: 15px;
    margin-right: 15px;
    border-style: solid;
    font-size: 150%;
}
.openinghours td {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.25);
}
form {
   margin: 0 25px 0 25px;
   padding: 10px;
   background-color: rgb(230, 230, 230);
   border-style: solid;
   border-width: 0.25px;
   border-color: rgba(0,0,0,0.25);
   width: 74%;
}
textarea {
    resize: none;
    max-width: 74%;
}
.input_btn {
    border-width: 0.5px;
    border-radius: 2.5px;
    width: 331px;
    max-width: 74%;
    height: 50px;
    background-color: rgba(255,201,14,0.75);
}